.header {
  text-align: center;
}
.card {
  border-bottom: 10px solid #f00;
  height: calc(100vh - 134px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.CardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 426px){
    .CardContainer{
        flex-direction: column;
    }
}